# Global
*.log
node_modules/
.vscode/
.idea/

# Python
django-backend/venv/
django-backend/env/
django-backend/__pycache__/
*.pyc
db.sqlite3

# React
react-frontend/node_modules/
react-frontend/.env
