# Global
*.log
node_modules/
.vscode/
.idea/

# Python / Django
django-backend/venv/
django-backend/env/
django-backend/__pycache__/
#db.sqlite3
# Static and media files (producción)
/staticfiles/
/media/
*.pyc


# React
react-frontend/node_modules/
react-frontend/.env

# Ignorar archivos locales pero permitir los .env.[mode]
.env
.env.local
.env.*.local

# Archivos comprimidos de backup/descarga
*.zip
*.tar
*.gz
*.7z
*.rar