{% extends "base.html" %}

{% block title %}Confirmar baja{% endblock %}
{% block pagetitle %}Confirmar baja{% endblock %}

{% block content %}
<p>¿Estás seguro de que deseas dar de baja tu cuenta? Esta acción es irreversible.</p>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="mt-5">
        <button type="submit" class="btn btn-danger">Confirmar Baja</button>
        <a href="{% url 'profile' %}" class="btn btn-secondary">Cancelar</a>
    </div>
</form>
{% endblock %}
