{% extends "base.html" %}

{% block title %}Perfil de traductor{% endblock %}
{% block pagetitle %}Perfil de traductor{% endblock %}

{% block content %}
<div class="row">
    <!-- Tarjeta de Información Personal -->
    <div class="col-md-6 mb-4">
        <div class="card h-100 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Información Personal</h5>
                <hr>
                <ul class="list-unstyled">
                    <li><strong>Nombre:</strong> {{ translator.first_name }}</li>
                    <li><strong>Apellidos:</strong> {{ translator.last_name }}</li>
                    <li><strong>Email:</strong> {{ translator.email }}</li>
                    <li><strong>Género:</strong> {{ translator.gender }}</li>
                    <li><strong>Fecha de nacimiento:</strong> {{ translator.birth_date }}</li>
                    <li>
                        <a href="{% url 'change-pw' %}" class="link-primary">Cambiar Contraseña de acceso</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Tarjeta de Localización y Contacto -->
    <div class="col-md-6 mb-4">
        <div class="card h-100 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Localización y Contacto</h5>
                <hr>
                <ul class="list-unstyled">
                    <li><strong>Dirección:</strong> {{ translator.address }}</li>
                    <li><strong>Código Postal:</strong> {{ translator.postal_code }}</li>
                    <li><strong>Provincia:</strong> {{ translator.province }}</li>
                    <li><strong>País:</strong> {{ translator.country }}</li>
                    <li><strong>Nº Tlf Móvil:</strong> {{ translator.mobile_phone }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Fechas  -->
<div class="bg-light p-2">
    <ul class="list-unstyled text-muted fs-custom-7">
        <li><strong>Fecha de alta:</strong> {{ translator.registration_date|date:"d/m/Y" }}</li>
        <li><strong>Último acceso:</strong> {{ translator.last_access|date:"d/m/Y" }}</li>
    </ul>
</div>

<!-- Botón de acción -->
<div class="text-center mt-4">
    <a href="{% url 'translator-edit' %}" class="btn btn-primary px-4 py-2">Editar Perfil</a>
</div>

<!-- Enlace para dar de baja la cuenta -->
<div class="text-center mt-3">
    <a href="{% url 'translator-account-delete' %}" class="link-danger">Haz clic aquí si deseas dar de baja tu cuenta</a>
</div>
{% endblock %}